body {
   margin: 0; padding: 0;
   /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color:;
    color: #000000;
}

*{
    margin: 0; 
    padding: 0;
}

 a{
    text-decoration: none;
    color:rgb(233, 233, 233) ;
}

div.sinscrire{
    width: 70px;
    padding: 6px 2px;
   
    background-color:none;
    color: black;
    border:1px solid black;
    border-radius: 2px;
}

.my-form {
   padding: auto;
}

 .containerr{
    width: 90%;
    margin: auto;
    overflow: hidden;
  
}


.container{
    margin: auto;
    width: 85%;
    overflow: hidden;
}

/*****    Header   *****/
 .banda{
    background-color:rgba(0, 0, 0, 0.938);
    padding-bottom: 3px;
    color: rgb(233, 233, 233);
    display: flex;
  }

  .fshop{
      width: 8%;
  }

  .fshop h2{
      text-align: center;
      margin-top: 4px;
      font-size: 28px;
      margin-left: 30px;
  }

  .banda .nav{
      width: 92%;
  }

  .banda .nav ul li a{
      font-weight: 500;
  }

  .banda .nav ul li:hover a {
    font-weight: 600;
    font-size: 17px;
  }

  .banda:after{
      content: '';
      clear: both;
      display: block;
  }

  .banda .nav ul{
      list-style: none;
      margin: 0;
  }

  .banda .nav ul:first-child {
    margin-left: 20px;
    
  }

  .banda .nav .left {
 
  }

  .banda .nav ul:last-child{
      margin-right: 30px;
  }

  .banda .nav > ul > li {
      float: left;
      position: relative;
    }


    .banda .nav ul li a{
        text-decoration: none;
        padding: 15px 20px;
        display: block;
    }

    .banda .nav ul  li:hover a{
        background-color: black;  
      
    }
   
    .banda .nav ul ul {
        position: absolute;
        padding: 0;
        min-width: 150px;
        display: none;
        top: 100%;
        left: 0;
    }

    .banda ul ul li a {
      
    }

    .banda .nav ul li:hover > ul {
        display: block;
    }
    
    .banda .nav ul ul li {
        position: relative;
    }

    .banda .nav ul ul ul {
        top: 0;
        left: 100%;
    }

    .banda .nav .right {
        float: right;
    }


    .banda .nav .right ul:last-child {
        float: right;
        margin-right: 20px;
        margin-top: 8px;
    }



    


    





/*****    NAV  *****/




 /*****    MAIN1  *****/
 #First-section {
     min-height: 356px;
     background-color: #F5F5F5;
     padding-top: 30px;
    
    
}

#First-section .barre{
    background-color: red;
    height: 46px;
    width: 100%;
    padding-top: 5px;
    padding-left: 8px;
    border-top: 1px solid  #240b0b18;
    border-radius: 6px 0px 0px 0px;
    border-top-right-radius: 4px;
   
}


#First-section .prod {
    display: flex;
    background-color: #FFFFFF;
    min-height: 260px;
    border-radius: 0px 0px 6px 6px ;
    padding: 8px 6px;
}
#First-section .barre h2{margin-top: 1px;}

#First-section .box3 {
    margin-right: 16px;
    border-radius: 4px 4px 4px 4px;
    width: 20%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    height: 260px;
    text-align: center;
    border: 1px solid  #240b0b18;
    border-radius: 6px 6px 6px 6px;
}

.box3 {
    margin-right: 16px;
    border-radius: 4px 4px 4px 4px;
  
    box-sizing: border-box;
    background-color: #f5f5f5; 
     width: 20%;
    height: 260px;
    text-align: center;
    border: 1px solid  #240b0b18;
    border-radius: 6px 6px 6px 6px;
}

.box3 a{  
     color:#1F1F1F;
    }

.box3:hover{
    transform: scaleY(1.03);
    box-shadow: 5px 5px 15px 5px #D4D5D0 ;
}

#First-section .box3 .promo{
    background-color: red;
    width: 100%;
    height: 30px;
    text-align: center;
    border-top: 1px;
    border-radius: 4px 4px 0px 0px;
}

#First-section .box3 .promo h3{
    margin-right: 5px;
}

/*****    MAIN1  *****/

.titre {
    background-color: black;
    width: 100%;
    color: #f5f5f5e3;
    height: 45px;
    text-align: left;
    padding-top: 2px;
}


.titre h1{
    margin-top: 6px;
    margin-left:80px;
    font-size: 22px;
}

#third-section,#fourth-section{
    min-height:418px;
}


.placer{
   margin: 10px;  
   padding-left: 20px;
   padding-top: 16px;
   margin-bottom: 10px;
}


 .box{
    float: left;
    width: 19%;
    height: 270px;
    background-color:#F5F5F5 ;
    margin:8px 6px;
    border: 1px solid none;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid  #240b0b18;
    text-align:center;
}

.box:hover{
    transform: scaleY(1.05);
    /*background-color:#f5f5f5c9 ; */
    box-shadow: 10px 10px 10px 10px  #f5f5f596;
}


.box a {
    color: black;
}




#fifth-section{
  background-color: #252F31;
  color: #f5f5f5c9;
  height: 560px;
}

#fifth-section .about-us{
    margin-top: 40px;
    margin-bottom: 40px;
}

#fifth-section .about-us h2{
    margin-bottom: 10px;
}

#fifth-section .contact h2{
   margin-bottom: 20px;
}


#fifth-section .contact form input,textarea{
    margin-left: 12px;
    padding: 5px;
    width: 30%;
    background-color: #3E4A4D;
    border: none;
    color: #f5f5f5c9;
}

#fifth-section .contact form input{
    height: 25px;
    width: 30%;
   
}

textarea{
    height: 60px;
    border: 1px solid none;
    border-radius: 2px;
}

#fifth-section .contact form .prenom{
    margin-left: 14px;
}


#fifth-section .contact form input{
    margin-bottom: 14px;
    border: 1px solid none;
    border-radius: 2px;
}

#fifth-section .contact form input[type="submit"]{
    width: 8%;
    height: 35px;
    color: #f5f5f5c9;
    margin-top: 20px;
     position: relative; 
     left:29.5%;
     border: 1px solid black;
}

footer{
    background-color: black;
    height: 60px;
    color: #F5F5F5;
    text-align: center;
    padding-top: 24px;
    font-size: 20px;
}


#conn {
    padding:8% 34%;
    background-color: #F2F2F2;
    height: 1000px;
}



#conn .form{
    background-color: #FFFFFF;
   
        padding: 36px 0px 10px 40px;

        border-radius: 8px;
}


#conn .form label {
    display: block;
    color: rgba(0, 0, 0, 0.651);
}

#conn .form input{
    width: 85%;
    height: 38px;
    background-color: #F2F2F2;
    border: 1px solid rgba(0, 0, 0, 0.068);
    
}

#conn .form input[type="text"],#conn .form input[type="password"]{
    margin-bottom: 5px;
    font-size: 17px;
    padding: 1px 8px;
}

#conn .form input[type="submit"]{
    width: 36%;
    background-color: #0185B7;
    color: #F2F2F2 ;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 15px;
     margin-bottom: 40px;
}

#conn .form input[type="button"]{
    width: 36%;
    background-color: #0185B7;
    color: #F2F2F2 ;
    border-radius: 4px;
    margin-left: 52px;
    margin-top: 20px;
    font-size: 15px;
}


#achat{
    background-color: #f2f2f2e7;
    height:1500px;
    padding: 5%;
    padding-top: 5%;
   
}

#achat .produit{
    background-color: #FFFFFF;
    width: 80%;
    min-height: 420px;
    margin-bottom: 20px;
    border-radius: 6px;
    margin-left: 90px;
    display: flex;
    padding: 12px;
    border: 1px solid #240b0b38;
}



#achat .produit .image{
  width: 32%;
  
 }

 #achat .produit .image img{
   margin-top: 30px;
   // border: 2px solid #240b0b18;
   }

#achat .produit .info {
    width: 68%;
    border-left: 1px solid #0a010138;
    padding:10px;
    color: black;
}



#achat .produitt p{
     margin-left: 16px;
}

#achat .produit .info h2,  
#achat .produit .info  h4{
    margin-bottom: 2px;
}

#achat .produit .info  h4{
    font-weight: normal;
    font-size: 17px;
    font-weight:450 ;
}

#achat .produit .info  h3 {
    margin-top: 14px;
    margin-bottom: 8px;
    font-size: 22px;
}

#achat .produit .info input{
    width: 50%;
    height: 40px;
    background-color:rgb(255, 153, 0);
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 10px;
}

#achat .produit .info input:hover{
    background-color: #F68B1E;
}

