body {
   margin: 0; padding: 0;
   /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color:;
    color: #1F1F1F;
}

*{
    margin: 0; 
    padding: 0;
}

 a{
    text-decoration: none;
    color:rgb(233, 233, 233) ;
}





.container{
    margin: auto;
    width: 85%;
    overflow: hidden;
}

/*****    Header   *****/
 .banda{
    background-color:rgba(0, 0, 0, 0.938);
    height:50px;
    color: rgb(233, 233, 233);
  
   }

 .containerr{
    width: 90%;
    margin: auto;
    overflow: hidden;
  
}

header ul{
   list-style:none;
}

header ul li{
  float: left;
  padding-top: 8px;
  height: 40px;
  position: relative;
  margin-right: 32px;
  margin-top:5px;
  font-weight: 600;
  font-size: 16.5px;
}

/*****    NAV  *****/




 /*****    MAIN1  *****/
 #First-section {
     min-height: 356px;
     background-color: #F5F5F5;
     padding-top: 30px;
    
    
}

#First-section .barre{
    background-color: red;
    height: 46px;
    width: 100%;
    padding-top: 5px;
    padding-left: 8px;
    border-top: 1px solid  #240b0b18;
    border-radius: 4px 4px 4px 4px ;
}


#First-section .prod {
    display: flex;
    background-color: #FFFFFF;
    min-height: 260px;
    border-radius: 0px 0px 4px 4px ;
    padding: 8px 6px;
}

#First-section .box3 {
    margin-right: 16px;
    border-radius: 4px 4px 4px 4px;
    width: 20%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    height: 260px;
    text-align: center;
    border: 1px solid  #240b0b18;
    border-radius: 6px 6px 6px 6px;
}

.box3:hover{
    transform: scaleY(1.03);
    
    box-shadow: 5px 5px 15px 5px #D4D5D0 ;
}

#First-section .box3 .promo{
    background-color: red;
    width: 100%;
    height: 30px;
    text-align: center;
    border-top: 1px;
    border-radius: 4px 4px 0px 0px;
}

#First-section .box3 .promo h3{
    margin-right: 5px;
}



/* --DROPDOWN MENU--  

#First-section .box1 ul{
    list-style: none;
    position: relative;
    font-size:14px;
}

#First-section .box1 ul li a {
    padding: 6px;
    display: block;
    color: white;
}

#First-section .box1 ul li a:hover{
    background-color: #000000da;
    color: #F5F5F5;
}


#First-section .box1 ul ul{
    position: absolute;
    left: 214px;
    top: 0px;
    width: 100%;
    background-color: #F5F5F5;
    display: none;
}

#First-section .box1  ul .Dropdown {
    position: relative;
  }

#First-section .box1 ul .Dropdown:hover > ul{
    display:initial;
}

#First-section .box1 .Dropdown_two{
    position: relative;
}

#First-section .box1 .Dropdown_two ul  {
    display: none;
    position: absolute;
    left: 214px;
}

#First-section .box1 .Dropdown_two:hover > ul{
    display: initial;
}



#First-section .box1 .Dropdown_tree ul {
    display: none;
    position: absolute;
    left: 214px;
}

#First-section .box1 .Dropdown_tree:hover > ul{
    display: initial;
}

#First-section .box1 .Dropdown_four{
    position: relative;
}

#First-section .box1 .Dropdown_four ul {
    display: none;
    position: absolute;
    left: 214px;
}

 #First-section .box1 .Dropdown_four:hover > ul{
        display:initial;
    }


    #First-section .box1 .Dropdown_five{
        position: relative;
    }
    
    #First-section .box1 .Dropdown_five ul {
        display: none;
        position: absolute;
        left: 214px;
    }
    
     #First-section .box1 .Dropdown_five:hover > ul{
            display:initial;
        }
    







*/



 /*****    MAIN1  *****/

.titre {
    background-color: black;
    width: 100%;
    color: #f5f5f5e3;
    height: 45px;
    text-align: left;
    padding-top: 2px;
}


.titre h1{
    margin-top: 6px;
    margin-left:80px;
    font-size: 22px;
}

#third-section,#fourth-section{
    min-height:418px;
}


.placer{
   margin: 10px;  
   padding-left: 20px;
   padding-top: 16px;
   margin-bottom: 10px;
}


.box{
    float: left;
    width: 22%;
    height: 290px;
    background-color:#F5F5F5 ;
    margin:8px 6px;
    border: 1px solid none;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid  #240b0b18;
}


.box:hover{
   
    transform: scaleY(1.05);
    /*background-color:#f5f5f5c9 ; */
    box-shadow: 10px 10px 10px 10px  #f5f5f596;
}

.box  h4{
    position:absolute;
    bottom:15%;
    left:center;
    left:2px;
    text-align:center;
    font-weight: normal;
}

.box  h5 {
  position:absolute;
  bottom:5%;
  left:66px;
  font-weight: normal;
  font-size: 17px;
}




#fifth-section{
  background-color: #252F31;
  color: #f5f5f5c9;
  height: 560px;
}

#fifth-section .about-us{
    margin-top: 40px;
    margin-bottom: 40px;
}

#fifth-section .about-us h2{
    margin-bottom: 10px;
}

#fifth-section .contact h2{
   margin-bottom: 20px;
}


#fifth-section .contact form input,textarea{
    margin-left: 12px;
    padding: 5px;
    width: 30%;
    background-color: #3E4A4D;
    border: none;
    color: #f5f5f5c9;
}

#fifth-section .contact form input{
    height: 25px;
    width: 30%;
   
}

textarea{
    height: 60px;
    border: 1px solid none;
    border-radius: 2px;
}

#fifth-section .contact form .prenom{
    margin-left: 14px;
}


#fifth-section .contact form input{
    margin-bottom: 14px;
    border: 1px solid none;
    border-radius: 2px;
}

#fifth-section .contact form input[type="submit"]{
    width: 8%;
    height: 35px;
    color: #f5f5f5c9;
    margin-top: 20px;
     position: relative; 
     left:29.5%;
     border: 1px solid black;
}

footer{
    background-color: black;
    height: 60px;
    color: #F5F5F5;
    text-align: center;
    padding-top: 24px;
    font-size: 20px;
}

